<nav class="navbar">
    <h1> Logo </h1>
    <ul class="header_items">
        <li> <a href="/"> Home </a> </li>
        <li> <a href="/about"> About </a> </li>
        <li> <a href="/help"> Help </a> </li>
    </ul>
    {{ title }}
</nav>